/*basic style stuff, feel free to edit */

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0ede4;
    color: #333;
    padding: 10px;
  }
  
  header {
    background-color: white;
    color:#56a76a;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: grey;
  }

.button {
    /* how to add to html file: <a href=nameofhtml.html class="button"> Name of Button </a>*/
    display: inline-block; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #03b351;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
