/*Table of Contents (For personal navigation reasons . Remove Later?- Aili)*/
/*
- GENERAL CODE
- NAV-BAR CODE
- BANNER CODE
- IN-PAGE TAB CODE
*/


/*START OF GENERAL CODE*/
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0ede4;
    color: #333;
    padding: 0;
    padding-bottom: 10vh;
  }
  
  main {
    max-width: 100%;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 20px;
  }

h1 {
    font-family: 'Outfit';
    font-size: 40px;
    font-weight: 650;
    color: #537952;
    margin-bottom: 25px;
    padding-top: 25px;
}

h2 {
    font-family: 'Outfit';
    font-size: 30px;
    font-weight: 450;
    color: #59a55a;
    margin-bottom: 25px;
  
}

h3 {
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: 450;
  color: #698a69
}

p {
    font-size: 15px;
    color: #353a40;
    margin-bottom: 20px;
}

.footer {
    background-color: #59a55a;
    width: 100%;
    height: 50px;
    position: relative;
    left: 0;
    bottom: 0;  
}

/* Solid border */
hr.solid {
  border-top: 3px solid #537952;
  /* note to self: <hr class="solid"> to add it
*/ }

/* END OF GENERAL CODE*/

/* START OF NAV-BAR CODE*/

body {
    background: #fbf1e8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}


nav {
    position: fixed;
    background: #59a55a;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    overflow: visible;
    z-index: 1;
}
nav .menu-bar {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
}
.menu-bar .logo-pic {
    height: 60px;
}
.menu-bar ul {
    display: inline-flex;
}
.menu-bar ul li {
    list-style: none;
    margin-left: 7px;
    z-index: 10;
}
.menu-bar ul li a {
    text-decoration: none;
    color: white;
    background: #9dd49d;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.menu-bar ul li a:hover {
    background: #fbf1e8;
    color: #59a55a;
    transition: 0.4s;
}
.menu-bar ul li a:active {
    opacity: 75%;
}


.sub-menu {
    display: none;
    position: absolute;
    background: #9dd49d;
    margin-top: 15px;
    z-index: 999;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.sub-menu ul {
    display: block;
    margin: 0;
    padding: 0;
}
.sub-menu ul li{
    list-style: none;
    margin: 5px 0;
}
.sub-menu ul li a {
    display: block;      
    text-align: left;    
    padding: 10px 17px;    
    color: white;         
    border-radius: 5px; 
}
.sub-menu ul li a:hover {
    color: #537952;
    background: none;
}
.menu-bar ul li:hover .sub-menu,
.sub-menu:hover {
    display: block;
    margin-top: 13px;
    margin-left: 0px;
}
.menu-bar ul li:hover .sub-menu ul {
    display: block;
    margin: 5px; 
}


.grab-img {
    background: url(homepage-images/grab.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.grab-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.text-box {
    position: absolute;
    top: 52%;
    left: 30%;
    transform: translate(-30%, -40%);
    padding: 0 20px;
    text-align: left;
}
.text-box .title {
    color: #fbf1e8;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: 750;
}
.text-box .subtitle {
    color: #74c674;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: 450;
    margin-top: 30px;
}


.home-content {
    position: relative;
    background-color: #fbf1e8;
    width: 100%;
    height: auto;
    padding: 45px 130px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.home-img {
    width: 300px;
    height: auto;
    margin-right: 40px;
}
.texts {
    display: flex;
    flex-direction: column;
    text-align: left;
    transform: translateY(7.5px);
}

/*END OF NAV-BAR CODE*/

/* BANNER CSS UPDATE - Banners for the Individual Pages */ 

.main-container{
  width: 90%;
  margin: 0 auto;
}

.banner-area {
  width: 100%;
  height: 40vh;
}

/* BANNER FOR GRAB */
  .banner-image-grab {
    width: 100%;
    height: 40vh;
    background-image: url(homepage-images/Grab-Banner-2.jpg.png);
    background-size: cover;
    background-position:center center;
    top: 50px;
    height: 100vh;
    width: 100%;
    position: fixed;
  }

  .banner-image-grab:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(9, 13, 10);
    opacity:.6;
    z-index: -1;
  }

  
  /* BANNER FOR DISTECH */
  .banner-image-distech {
    width: 100%;
    height: 40vh;
    background-image: url(homepage-images/distech-banner.jpg);
    background-size: cover;
    background-position:center center;
    top: 50px;
    height: 100vh;
    width: 100%;
    position: fixed;
  }
  
  .banner-image-distech:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(9, 13, 10);
    opacity:.6;
    z-index: -1;
  }


  /* BANNER FOR OUTCOMES */

  .banner-image-outcomes {
  /* pending */
  }

  .banner-image-outcomes:after {
  /* pending */
  }

/*BANNER TEXT - H3 */
.banner-area h3{ /*TEXT ON TOP OF THE BANNER*/
  padding-top: 15%;
  margin-left: 40px;
  margin-right:40px;
  font-size: clamp(2rem,8vw,4rem);
  font-weight: 700;
}

.banner-area h2{
  padding-top: 20%;
  font-size: 40px;
  color: white;
  font-family: 'Outfit';
  text-transform: uppercase;
  text-align: center;
  transition:transform 0.3s ease;
}

.banner-area h3:hover {
  transform: scale(1.1);
}

.page-title-grab {
  font-size: clamp(4rem,10vw,7rem);
}

/* START OF CONTENT AREA - the main area with the information on it */

.content-area, .content-area-2 {
  display: grid;
  place-items: center;
  width: 85%;
  max-width: 65rem;
  height: 100%;
  position: relative;
  background: #fbf1e8;
  opacity: 100%;
  top: 150px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 15px black;
}

.content-area-2 {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px 7px black;
}

.content-area h2{
  font-family: 'Outfit';
  font-size: 30px;
  font-weight: 650;
  color: #537952;
  margin-bottom: 25px;
}
 
.content-area p {
  font-size: 20px;
  color: #353a40;
  margin-bottom: 20px;
  text-align: justify;
}

/* END OF BANNER CONTENT */

/* START OF DISTECH INFO CONTAINER */
.distech-info {
  margin: 40px;
  max-width: 800px;
}
